SERVICE_NAME=microservice
NODE_ENV=test
PORT=3001
API_PREFIX=api
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/nest_microservice_test?schema=public
DATABASE_ENABLED=false
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_KEY_PREFIX=micro:test:
LOG_LEVEL=warn
ENABLE_CONSOLE_LOGS=false
METRICS_ENABLED=false
CORS_ORIGIN=
